.calendar {
  display: grid;
  grid-template-columns: repeat(7, 1fr);
  grid-gap: 3px;

  .day {
    border: 1px solid #6b6b6b;
    border-radius: 3px;
    padding: 1%;
    text-align: center;
    padding-block: 7px;
    position: relative;
  }

  .selected {
    background: #0d6efd !important;
    color: white;
  }

  .marker {
    width: 6px;
    height: 6px;
    display: block;
    background: #05b4fc;
    border-radius: 50%;
    position: absolute;
    top: 3px;
    left: 3px;
  }
}