.calendar {
  display: grid;
  grid-template-columns: repeat(7, 1fr);
  grid-gap: 3px;

  .day {
    border-radius: 5px;
    text-align: center;
    padding-block: 7px;
    position: relative;
    font-weight: 500;
  }

  .marker {
    width: 6px;
    height: 6px;
    display: block;
    background: #78716c;
    border-radius: 50%;
    position: absolute;
    top: 10%;
    right: 5%;
  }

  .current {
    font-weight: 900;
  }

  .selected {
    color: white;

    .marker {
      background: #fff;
    }
  }
}